@tailwind base;
@tailwind components;
@tailwind utilities;

/*Dark Scrollbar*/

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* dark gray */
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #52525b; /* slightly lighter on hover */
}
